<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.uniftec.avaliadorpolitico">

    <application
        android:icon="@drawable/app_icon_300_300"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.UserRegisterActivity" />
        <activity android:name=".activities.CreatePublicPetitionActivity" />
        <activity android:name=".activities.DatabaseActivity" />
        <activity android:name=".activities.FeedActivity" />
        <activity android:name=".activities.PoliticalProfileActivity" />
        <activity android:name=".activities.PoliticalPromisesActivity" />
        <activity android:name=".activities.PoliticalRankingActivity" />
        <activity android:name=".activities.PoliticianAccompaniedActivity" />
        <activity android:name=".activities.VotePredictionActivity" />
        <activity android:name=".activities.SchedulerActivity" />
    </application>

</manifest>